:root {
    --primary: #f00;
    --secondary: #065fd4;
    --black: #030303;
    --gray: #f8f8f8;
    --gray-hover: #f0f0f0;
    --gray2: #f9f9f9;
    --white: #ffffff;
    --text-color: #111111;
    --text-secondary: #606060;
    --button-border: #ccc;
    --nav-width: 72px;
    --header-height: 56px;
    --shadow: #eee;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: var(--black);
    text-decoration: none;
}

// position layout
.d-flex {
    display: flex;
}
.justify-content-between {
    justify-content: space-between;
}

// text color below 

.text-black {
    color: var(--black);
}


// font weight

@for $weight from 1 through 9 {
    .font-weight-#{$weight} {
        font-weight: calc($weight * 100);
    }
}

// cursor 
.cursor-pointer {
    cursor: pointer;
}



