:root {
  --primary: #f00;
  --secondary: #065fd4;
  --black: #030303;
  --gray: #f8f8f8;
  --gray-hover: #f0f0f0;
  --gray2: #f9f9f9;
  --white: #ffffff;
  --text-color: #111111;
  --text-secondary: #606060;
  --button-border: #ccc;
  --nav-width: 72px;
  --header-height: 56px;
  --shadow: #eee;
  --border-line: #0000001a;
  --tippy-color: #616161;
  --menu-hover: #f2f2f2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, Arial, sans-serif;
}

a {
  color: var(--black);
  text-decoration: none;
}
ul, ol, li {
  text-decoration: none;
  list-style: none;
}

// position layout
.d-flex {
  display: flex;
}
.justify-content-between {
  justify-content: space-between;
}
.justify-content-center {
  justify-content: center;
}
.fixed {
  position: fixed;
}

// text color below

.text-black {
  color: var(--black);
}

// font weight

@for $weight from 1 through 9 {
  .font-weight-#{$weight} {
    font-weight: calc($weight * 100);
  }
}

// cursor
.cursor-pointer {
  cursor: pointer;
}

// components
.box {
  width: 100%;
  background-color: white;
  z-index: 999;
}

// tippy

.my-box {
  min-width: 300px;
  border-top: 0;
  width: 100%;
  background-color: var(--white);
  border: 1px solid var(--button-border);
  border-top: 0;
  box-shadow: 0 2px 4px rgb(0 0 0 / 20%);
  cursor: default;
  padding: 16px 0 8px 0;
  margin-top: -10px;
}
.tippy-arrow {
  display: none;
}
.tippy-box {
  background-color: var(--tippy-color);
  padding: 2px;
  border-radius: 2px;
}

// width
$lenght: 10;
@for $size from 1 through $lenght {
  .w-#{calc($size*10)} {
    width: percentage(calc($size/10));
  }
}
