:root {
    --primary: #f00;
    --black: #030303;
    --gray: #7c7c7c;
    --white: #ffffff;
    --nav-width: 72px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: var(--black);
    text-decoration: none;
}