.wrapper {
    max-width: 240px;
    height: 100vh;
    overflow-y: hidden;
    &:hover {
        overflow-y: scroll;
    }
    &::-webkit-scrollbar {
        width: 8px;
    }
    &::-webkit-scrollbar-thumb {
        background: #888; 
        border-radius: 15px;
    }
}

.label {
    padding: 16px 35px;
    font-size: 14px;
    line-height: 1.2rem;
    font-weight: 400;
}
.nav-header {
    color: var(--text-secondary);
    padding: 8px 24px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: .5px;
    text-transform: uppercase;
}
.copy-right {
    padding: 16px 24px;
    color: #909090;
    font-size: 12px;
    line-height: 1.8rem;
    font-weight: 400;
}
@media only screen and (max-width: 650px) {
    .wrapper {
        display: none;
    }
}

