.center {
  width: 100%;
}
.suggestion {
  border-top: 1px solid var(--border-line);
  border-bottom: 1px solid var(--border-line);
  height: 60px;
  background-color: var(--white);
  position: fixed;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tab {
  margin: 12px 12px 12px 0;
  border: 1px solid transparent;
  & * {
    padding: 8px 12px;
  }
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 24px 16px;
  margin-top: var(--header-height);
}

