.wrapper {
    height: calc(100% - var(--header-height));
    position: absolute;
    bottom: 0;
    width: 100%;
}

.content {
    width: 100%;
    float: right;
}
.blank {
    width: var(--nav-width);
}