.wrapper {
    height: calc(100% - var(--header-height));
    position: absolute;
    bottom: 0;
}

.content {
    width: calc(100% - var(--nav-width));
    float: right;
    border-top: 1px solid var(--border-line);
}